@font-face {
  font-family: "Benzin";
  src: url("~/assets/fonts/benzin/Benzin-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Benzin";
  src: url("~/assets/fonts/benzin/Benzin-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Petrov";
  src: url("~/assets/fonts/petrov/PetrovSans-Trial-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Petrov";
  src: url("~/assets/fonts/petrov/PetrovSans-Trial-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Petrov";
  src: url("~/assets/fonts/petrov/PetrovSans-Trial-Book.woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("~/assets/fonts/manrope/Manrope-ExtraBold.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Manrope";
  src: url("~/assets/fonts/manrope/Manrope-Bold.woff2");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("~/assets/fonts/manrope/Manrope-SemiBold.woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("~/assets/fonts/manrope/Manrope-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("~/assets/fonts/manrope/Manrope-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Intro";
  src: url("~/assets/fonts/intro/Intro-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("~/assets/fonts/inter/Inter-ExtraBold.woff2");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("~/assets/fonts/inter/Inter-SemiBold.woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("~/assets/fonts/inter/Inter-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("~/assets/fonts/inter/Inter-Regular.woff2");
  font-weight: 400;
  font-display: swap;
}

/* Баг со шрифтами 2 недели боли */


/* Это убрать скролл бар */
/*html * {
  outline: 100px;
}

body {
  position: relative;
  width: 100vw;
  min-height: 100svh;
  overflow: hidden;
}
body > * {
  overflow: auto;
}*/
