@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Benzin";
  src: url("~/assets/fonts/benzin/Benzin-Regular.woff2");
  font-weight: 400;
  font-display: optional;
}
@font-face {
  font-family: "Benzin";
  src: url("~/assets/fonts/benzin/Benzin-Medium.woff2");
  font-weight: 500;
  font-display: optional;
}

@font-face {
  font-family: "Petrov";
  src: url("~/assets/fonts/petrov/PetrovSans-Trial-Bold.woff2");
  font-weight: 700;
  font-display: optional;
}
@font-face {
  font-family: "Petrov";
  src: url("~/assets/fonts/petrov/PetrovSans-Trial-Regular.woff2");
  font-weight: 400;
  font-display: optional;
}
@font-face {
  font-family: "Petrov";
  src: url("~/assets/fonts/petrov/PetrovSans-Trial-Book.woff2");
  font-weight: 300;
  font-display: optional;
}

@font-face {
  font-family: "Manrope";
  src: url("~/assets/fonts/manrope/Manrope-ExtraBold.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Manrope";
  src: url("~/assets/fonts/manrope/Manrope-Bold.woff2");
  font-weight: 700;
  font-display: optional;
}
@font-face {
  font-family: "Manrope";
  src: url("~/assets/fonts/manrope/Manrope-SemiBold.woff2");
  font-weight: 600;
  font-display: optional;
}
@font-face {
  font-family: "Manrope";
  src: url("~/assets/fonts/manrope/Manrope-Medium.woff2");
  font-weight: 500;
  font-display: optional;
}
@font-face {
  font-family: "Manrope";
  src: url("~/assets/fonts/manrope/Manrope-Regular.woff2");
  font-weight: 400;
  font-display: optional;
}

@font-face {
  font-family: "Intro";
  src: url("~/assets/fonts/intro/Intro-Regular.woff2");
  font-weight: 400;
  font-display: optional;
}

@font-face {
  font-family: "Inter";
  src: url("~/assets/fonts/inter/Inter-ExtraBold.woff2");
  font-weight: 900;
  font-display: optional;
}
@font-face {
  font-family: "Inter";
  src: url("~/assets/fonts/inter/Inter-SemiBold.woff2");
  font-weight: 600;
  font-display: optional;
}
@font-face {
  font-family: "Inter";
  src: url("~/assets/fonts/inter/Inter-Medium.woff2");
  font-weight: 500;
  font-display: optional;
}
@font-face {
  font-family: "Inter";
  src: url("~/assets/fonts/inter/Inter-Regular.woff2");
  font-weight: 400;
  font-display: optional;
}

@layer base {
  html {
    @apply font-benzin;
    @apply text-black;
    @apply font-normal;
  }

  html.lenis,
  html.lenis body {
    @apply h-auto;
  }

  .lenis.lenis-smooth {
    @apply !scroll-auto;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    @apply overscroll-contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
    @apply overflow-hidden;
  }

  .lenis.lenis-smooth iframe {
    @apply pointer-events-none;
  }
}
